

input{
    display: block;
    margin-left:30vw;
    width:28rem;
    height:2.7rem;
    font-size: 18px;
    background-color: #f1f1f1;
    font-family:candara;
     padding-left: 1rem;
    border-radius: 5px;
    }

label{
    margin-left:32vw;
    font-size: large;
    
    font-family:candara;   
    
}

body{
    /* background-color: #151515; */
    background-color: #f1f1f1;
   
    /* color: #d0deec; */
    color: black;
    line-height: 3rem;
    font-family:candara;
}
h1{
    text-align: center;
    margin-top: 50px;
}
#submit-btn{
    
        margin-left:31vw;
        width:27.5rem;
        height:2.5rem;
        border-radius: 1px;
        background-color: #7c3aed;
        color: #f9fafb;
        border-style: none;
        font-size: larger;
        font-weight: bold;
        font-family:candara;
    
}

#output-div{
    text-align: center;
    font-size: x-large;
    font-family: candara;
}