

input{
    display: block;
    margin-left:33vw;
    width:27rem;
    height:2.4rem;
    font-size: 15px;
    background-color: #e9eff5;
    font-family:Merriweather;
     padding-left: 1rem;
    border-radius: 5px;
    }

label{
    margin-left:33.5vw;
    font-size: large;
    font-family:Merriweather;    
    
}

body{
    background-color: #151515;
    color: #d0deec;
    line-height: 3rem;
    /* font-family: cursive; */
    font-family:Merriweather;
}
h1{
    text-align: center;
}
#submit-btn{
    
        margin-left:33.5vw;
        width:27.5rem;
        height:2.5rem;
        border-radius: 1px;
        background-color:  rgb(31, 81, 231);
        color: #f9fafb;
        border-style: none;
        font-size: larger;
        font-weight: bold;
        font-family:Merriweather;
    
}

#output-div{
    text-align: center;
    font-size: x-large;
}